@import './style/library.css';
@import 'https://use.fontawesome.com/releases/v5.15.4/css/all.css';

header{
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2;
}

.main{
      display: flex;
      margin-top: 6rem;
}

/* fixed sidebar */
.sidebar{
      display: flex;
      flex-direction: column;
      position: fixed;
      height: 100%;
      overflow-y: auto;
      min-width: 20%;
      padding: 1rem 2rem;
      padding-bottom: 6rem;
}
.sidebar a{
      color: var(--text-color);
}
.sidebar a:hover{
      color: var(--light-text-color);
}
.sidebar a.active{
      background-color: var(--secondary-color);
      color: var(--white-color);
}
.sidebar-title{
      padding: 2rem 0;
}

/* main content */
.main-container{
      margin-left: 20%;
      width: 100%;
}
.row{
      display: flex;
      align-items: center;
      gap:2rem;
}
.code-snippet iframe{
      margin-bottom:2rem;
      margin-top:2rem;
      width: 60%;
}
hr{
      margin-top: 6rem;
}
.alert-snippet{
      margin-top: 3rem;
}
.badge-icon{
      margin: 1rem;
}

@media only screen and (max-width:1200px){
      .sidebar{
            display: none;
      }
      .main-container{
            margin-left: 0;
      }
      .code-snippet iframe{
            width: 100%!important;
      }
}

