:root{
      /* Colors */
      --primary-color : #613DC1;
      --secondary-color : #A63D40;
      --accent-color: #4CB944;
      --text-color: #2E3532;
      --background-color: #FCF7F8;
      --white-color: #FFFFFF;
      --light-text-color: #72837c;
      --grey-white-color: #DCDCDC;

      /* Box Sizing */
      --primary-shadow-color: rgb(97 61 193 / 25%);

      
      --error-color: #f4c7c7;
      --warning-color: #ffe2b7;
      --info-color: #b8e7fb;
      --success-color: #cce8cd;

      /* Rating color */
      --rating-low-color: #ff4545;
      --rating-average-color: #ffe234;
      --rating-high-color: #57e32c;

      --online-badge-color:#28a745;
      --offline-badge-color:#dc3545;
      --warning-badge-color:#ffc107;;
      --info-badge-color:#17a2b8;

      --spacing-xs: 1rem;
      --spacing-s: 2rem;
      --spacing-m: 3rem;
      --spacing-l: 4rem;    
}

/* reset */

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
html{
      font-size: 62.5%;
}
body{
      font-family: 'Roboto',sans-serif;
}
ul{
      list-style: none;
}
a{
      text-decoration: none;
      color: inherit;
}

/* Spacing */

/* margin classes */
.m-1{
      margin: 1rem;
}
.m-2{
      margin: 2rem;
}
.m-3{
      margin:3rem;
}
.m-4{
      margin:4rem;
}

/* padding classes */
.p-1{
      padding: 1rem;
}
.p-2{
      padding: 2rem;
}
.p-3{
      padding: 3rem;
}
.p-4{
      padding: 4rem;
}

.py-1{
      padding-top: 1rem;
      padding-bottom: 1rem;
}
.py-2{
      padding-top: 2rem;
      padding-bottom: 2rem;
}

/* border radius */
.br-1{
      border-radius: 5px;
}
.br-2{
      border-radius: 10px;
}
.br-3{
      border-radius: 15px;
}
.br-4{
      border-radius: 50%;
}
