@import './design.css';
@import './util.css';

/* components*/
@import './component/avatar.css';
@import './component/alert.css';
@import './component/button.css';
@import './component/badge.css';
@import './component/input.css';
@import './component/image.css';
@import './component/card.css';