@import "./design.css";
@import "./util.css";

/* components*/
@import "./component/avatar.css";
@import "./component/alert.css";
@import "./component/button.css";
@import "./component/badge.css";
@import "./component/input.css";
@import "./component/image.css";
@import "./component/card.css";
@import "./component/navigation.css";
@import "./component/toast.css";
@import "./component/rating.css";
@import "./component/list.css";
@import "./component/typography.css";
@import "./component/modal.css";
@import "./component/grid.css";
