
/* utility classes */
/* background color */
.bg-dark{
      background-color: var(--text-color);
}
.bg-light{
      background-color: var(--background-color);
}
.bg-primary{
      background-color: var(--primary-color);
}

/* text color */
.text-primary{
      color: var(--primary-color);
}
.text-white{
      color: var(--white-color);
}
.text-black{
      color: var(--text-color);
}
.text-accent{
      color: var(--accent-color);
}

/* text align */
.text-center{
      text-align: center;
}

/* navigation */
.nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.nav-items{
      display: flex;
}
.nav-items a{
      padding: 1rem 2rem;
      margin: 5px;
}
.nav-items a:hover{
      background-color: var(--secondary-color);
}
.nav-item .active{
      background-color: var(--secondary-color);
}