
/* utility classes */
/* buttons */
.btn{
      padding: 1rem 2rem;
      border: 0;
}
.btn:hover{
      opacity: 0.9;
}
.btn-dark{
      background-color: var(--text-color);
      color: var(--white-color);
}
.btn-primary{
      background-color: var(--primary-color);
      color: var(--white-color);
}
.btn-secondary{
      background-color: var(--secondary-color);
      color: var(--white-color);
}

/* background color */
.bg-dark{
      background-color: var(--text-color);
}
.bg-light{
      background-color: var(--background-color);
}
.bg-primary{
      background-color: var(--primary-color);
}

/* text color */
.text-primary{
      color: var(--primary-color);
}
.text-white{
      color: var(--white-color);
}
.text-black{
      color: var(--text-color);
}

/* navigation */
.nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.nav-items{
      display: flex;
}
.nav-items a{
      padding: 1rem 2rem;
      margin: 5px;
}
.nav-items a:hover{
      background-color: var(--secondary-color);
}
.nav-item .active{
      background-color: var(--secondary-color);
}