.grid-container{
      border: 1px solid var(--text-color);
      padding: var(--spacing-s);
      display: grid;
}
.grid-box{
      padding: var(--spacing-l);
      border: 1px solid var(--text-color);
}

.grid-cl-2{
      grid-template-columns: repeat(2,1fr);
}
.grid-cl-3{
      grid-template-columns: repeat(3,1fr);
}
.grid-responsive {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}