.modal{
      position: relative;
      padding: var(--spacing-xs);
}
.modal-dismiss{
      position: absolute;
      top: 5%;
      right: 1rem;
      padding: 0;
}

.modal-heading{
      padding: var(--spacing-xs) 0;
      border-bottom: 1px solid var(--text-color);
}
.modal-content{
      padding: var(--spacing-xs) 0;
}
.modal-action{
      display: flex;
      justify-content: flex-end;
      gap: var(--spacing-xs);
}